"*":
  "exception-reporting":
    userId: "f6c4ab7f-ae75-2374-23d7-3a2396e6cad2"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/home/i-bot/workspace"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    audioBeep: false
    destroyEmptyPanes: false
    ignoredNames: [
      ".git"
      ".gitmodules"
      "*.aux"
      "*.log"
      "*.fdb_latexmk"
      "*.toc"
      "*.fls"
      "*.out"
      "*.synctex.*"
      "*.lof"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    fontSize: 11
  "one-dark-ui": {}
  "autocomplete-plus":
    autoActivationDelay: 50
    minimumWordLength: 1
  minimap:
    scrollAnimation: true
    plugins:
      "git-diff": true
  "atom-beautify":
    _analyticsUserId: "8fdd0da3-b87e-4ea9-b3f6-7f10a60c45ff"
  "go-plus":
    goPath: "~/.gobins:~/workspace/routing-framework/"
    environmentOverridesConfiguration: false
  "haskell-ghc-mod": {}
  "linter-javac":
    javaExecutablePath: "/run/current-system/sw/bin/javac"
  "linter-hlint":
    hlintExecutablePath: "/run/current-system/sw/bin/hlint"
  "linter-golinter":
    executablePath: "/home/i-bot/.gobins/bin/"
  "git-plus": {}
  "tree-view":
    hideIgnoredNames: true
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
